#btn-menu {
    display: none;
}
nav {
    height : 70px ; 
    width : 100%;
    margin: auto;
    background-color : red ;
    display: flex;

    
}
#nav-intern {
    display: flex;

}
#logo-menu {
   /*  z-index: 10; */
    background-color : orange ;
    width : 30rem;
    border-radius: 50%;
/*     padding: 0 4px ; */
}
#logo-menu img {
    width : 60%;
    height: 100% ;
    margin : 30px ;
}
#container-menu {
/*     z-index: -5;
 */ 
 padding-top: 25px;

  border-radius: 30px ;
  background-color : red ;
  height : 70px ; 
  width : 70%;
  margin: auto;
}
#badge-menu {
    border-radius: 30px ;
    padding : 0px 0px ;
    width: 50%;
    background-color : pink ;


}
.liste {
/*     z-index: -10;
 */ 
    border-radius: 30px ;
    background-color : black ;

    list-style-type: none;
    height: 100px ;
    width: 100%;
    display: flex ;
    justify-content: center ; 
    align-items: center ; 
    position: relative ; 
    margin: 0;
    padding: 0;



}
#logoMenu {
    width: 50px;
}
.liste li {
    display:inline;
    vertical-align: middle;
        text-align: center ;
        line-height: 50px ;

}
.items {
    height: 50px;
    width: 100%;
    margin-right: 10px; 
    color : green ; 
    cursor: pointer ; 
}


@media screen and (max-width: 500px) {
    .liste {
        flex-direction: column;
        height : 200px ; 
    }
    .items:nth-child(1) {
        border-top: 1px solid #fff ; 
        margin-top: 50px;
    }
    .items {
        height : 50px ; 
        width : 100% ; 
        border-bottom: 1px solid #fff ; 
        line-height: 50px;
    }
    #btn-menu {
        display : block ; 
        position : absolute ; 
        right : 10px ; 
        top: 10px;
        color: #6b2525;
        cursor : pointer ; 
    }
}